body {
    width: 500px;
}

button {
    color: white;
    background-color: red;
    border-radius: 3px;
    border-style: none;
    cursor: pointer;
    padding: 5px;
}

button:hover {
    background-color: rgb(153, 24, 24);
}

svg {
    padding: 1%;
}